{
      debug
  }

  api.{$DOMAIN} {
      reverse_proxy supabase-kong:8000
  }

  {$DOMAIN} {
      reverse_proxy app:3000
  }

  adviz.bg {
      reverse_proxy host.docker.internal:30088 {
          header_up X-Forwarded-Proto https
          header_up X-Forwarded-For {remote_host}
      }
  }

  api.adviz.bg {
      reverse_proxy host.docker.internal:30088 {
          header_up X-Forwarded-Proto https
          header_up X-Forwarded-For {remote_host}
      }
  }

  xn--80aalycsf6f.xn--90ae {
      reverse_proxy host.docker.internal:30081 {
          header_up X-Forwarded-Proto https
          header_up X-Forwarded-For {remote_host}
      }
  }

  api.xn--80aalycsf6f.xn--90ae {
      reverse_proxy host.docker.internal:30081 {
          header_up X-Forwarded-Proto https
          header_up X-Forwarded-For {remote_host}
      }
  }
